<html>

<head>
  <title>Form</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="comments">
    <div><a href="/home.html">&lt;&lt;</a></div>
    <h1>Guest Book</h1>
    <h2>Leave a comment</h2>
    <form action="/guest-book" method="get">
      <div>
        <label for="name">Name: </label>
        <input type="text" value="" name="name">
      </div>
      <div>
        <label for="comment">Comment: </label>
        <textarea name="comment" cols="30" rows="10"></textarea>
      </div>
      <div>
        <input type="submit">
      </div>
      <div>__COMMENTS__</div>
    </form>
  </div>
</body>

</html>