<html>

<head>
  <title>Form</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="comments">
    <header>
      <h1><a href="/home.html">&lt;&lt;</a>Guest Book</h1>
    </header>
    <h2>Leave a comment</h2>
    <form action="/add-comment" method="post">
      <div>
        <label for="comment">Comment: </label>
        <textarea name="comment" cols="30" rows="10"></textarea>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
    <div class="comment-list">__COMMENTS__</div>
    <a href="/logout">logout</a>
    <div>
    </div>
  </div>
</body>

</html>