<html>

<head>
  <title>Form</title>
  <script src="js/guest-book.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="comments">
    <header>
      <h1><a href="/home.html">&lt;&lt;</a>Guest Book</h1>
    </header>
    <h2>Leave a comment</h2>
    <form action="#" method="post">
      <div>
        <label for="comment">Comment: </label>
        <textarea name="comment" cols="30" rows="10"></textarea>
      </div>
    </form>
    <!-- <button id="submit">Submit</button> -->
    <input id="submit" type="button" value="Submit"></input>
    <div class="comment-list" id="comments">__COMMENTS__</div>
    <a href="/logout">logout</a>
    <div>
    </div>
  </div>
</body>

</html>